# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*


/dist

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/graphql-types.ts
**/schema.graphql
coverage
